// Define variables for your color scheme

// For example:
$red: #FD1B1F;
$blue: #167FFB;
$yellow: #DDD92A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$white: #FFFFFF;
$mauve: #5A41A9;
$pink: #FFD2E6;
$black: #3A3B4F;
$offpink: #EAE5E5;
$lightgray: #e9e9e9;