.about-wrapper {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.child {
  align-self: center;
  width: 30vw;
  height: 75vh;
  position: relative;
}

#about-info-boxes {
  margin-top: 2rem;
}

#about-info-main {
  border: 2px solid $yellow;
  position: absolute;
  z-index: 3;
  background: white;
  text-align: left;
  overflow: scroll;
}

#about-info-paragraph {
  margin: 3rem 2rem;
  height: 400px;
}

#about-info-main::-webkit-scrollbar {
  width: 0;
}

#about-info-red {
  position: absolute;
  border: 2px solid $red;
  z-index: 2;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 90%;
}

#about-info-mauve {
  position: absolute;
  border: 2px solid $mauve;
  z-index: 1;
  top: -4%;
  left: -5%;
  width: 100%;
  height: 110%;
}

#about-info-pink {
  position: absolute;
  border: 2px solid $pink;
  z-index: 1;
  top: 10%;
  left: -15%;
  width: 130%;
  height: 90%;
}

#about-photo {
  background: url("https://images.unsplash.com/photo-1543165365-07232ed12fad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  border-top: 2px solid $red;
  border-bottom: 2px solid $yellow;
  border-left: 2px solid $mauve;
  border-right: 2px solid $pink;
}

.button {
  border: none;
  cursor: pointer;
  padding: 0;
  font-weight: 600;
  color: $mauve !important;
}

input {
  display: none;
}

.text {
  display: none;
  li {
    list-style: none;
  }
}

input#button:checked ~ .text {
  display: block;
}

.about-social {
  position: absolute;
  z-index: 1;
  background: transparent;
  bottom: -8%;
  right: 0;
  .social-link {
    padding: .5rem .5rem .1rem .5rem;
    color: $black;
    font-weight: 600;
    position: relative;
    letter-spacing: .5px;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 20%;
        width: 60%;
        height: 100%;
        border-bottom: 4px solid $yellow;
        opacity: 0.5;
        transform: scaleX(0);
        transition: .3s all ease-in;
          }
          &:hover {
              text-decoration: none;
          &:after {
              transform: scaleX(1.1);
          }
        }
  }
}


@media only screen and (max-width: 378px) { 
  .child {
    align-self: center;
    margin: 1rem;
    width: 450px;
    height: 650px;
    position: relative;
  }
  #about-photo {
    display: none;
  }
  #about-info-main {
    padding: 1rem;
    top: -15%;
    left: -3%;
    height: 80vh;
    overflow: auto;
  }
}

@media only screen and (min-width: 378px) and (max-width: 1025px) { 
  .child {
    width: 300px;
  }
  #about-photo {
    background: url("https://images.unsplash.com/photo-1543165365-07232ed12fad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    border-top: 2px solid $red;
    border-bottom: 2px solid $yellow;
    border-left: 2px solid $mauve;
    border-right: 2px solid $pink;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .about-social {
    bottom: -20%;
    right: 6%;
  }
}