#hero-typed-text {
	line-height: 6rem;
	font-weight: 600;
	text-align: left;
}

.hero {
	margin-top: 11rem;
	margin-left: 4rem;
	height: 45vh;
	width: 70vw;
}

// Screen size 577px or less

@media only screen and (max-width: 674px) {
	#hero-typed-text {
		line-height: 1rem;
		font-weight: 400;
		font-size: 34px !important;
		padding-right: 20px;
	}

	.hero {
		padding-top: 15vh;
		padding-left: 0;
		height: 65vh;
		width: 90vw;
	}
}

// Screen size 799px - 1119px

@media only screen and (min-width: 675px) and (max-width: 1119px) {
	#hero-typed-text {
		line-height: 3rem;
		font-weight: 500;
		font-size: 50px !important;
	}

	.hero {
		padding-top: 20vh;
		height: 55vh;
		width: 80vw;
	}
}

// Screen size 1120px - 1420px
@media only screen and (min-width: 1120px) and (max-width: 1420px) {
	#hero-typed-text {
		line-height: 4rem;
		font-weight: 600;
	}

	.hero {
		padding-top: 20vh;
		height: 60vh;
		width: 70vw;
	}
}