<div class="navbar navbar-expand-sm navbar-light navbar-custom">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="square-logo hover-rotate"></div>
  <% end %>
  <ul class="menu-items">
  	<li>
    	<%= link_to "PROJECTS", projects_path %>
  	</li>
  	<li>
    	<%= link_to "ABOUT", about_path %>
  	</li>
  </ul>
</div>
