<div class="container">
	<div class="d-flex justify-content-between py-4">
		<div><%= link_to 'Work', projects_path, class: 'navbar-link' %></div>
		<div><%= link_to 'Ana Ivan', root_path, class: 'navbar-link' %></div>
		<div><%= link_to 'About', about_path, class: 'navbar-link' %></div>
	</div>
</div>