
<div class="row">
	<!-- P1 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="project-info--left">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<span class="btn-b">
					<span>View project on</span>
					<span><a href="/">Github</a></span>
				</span>
			</div>
			<div class="project-thumb mt-3 mb-2 ml-2 mr-2">
				<%= image_tag "project-flare.png", height: '220', width: '400' %>
			</div>
	</div>
	<!-- P2 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="second">
			<div class="project-thumb mt-3 mb-2 ml-2 mr-2">
				<%= image_tag "project-flare.png", height: '220', width: '400' %>
			</div>
			<div class="project-info--right">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<span class="btn-b">
					<span>View project on</span>
					<span><a href="/">Github</a></span>
				</span>
			</div>
	</div>
</div>
<!-- P3 -->
<div class="row">
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="project-info--left">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<span class="btn-b">
					<span>View project on</span>
					<span><a href="/">Github</a></span>
				</span>
			</div>
			<div class="project-thumb mt-3 mb-2 ml-2 mr-2">
				<%= image_tag "project-flare.png", height: '220', width: '400' %>
			</div>
	</div>
	<!-- P4 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="second">
			<div class="project-thumb mt-3 mb-2 ml-2 mr-2">
				<%= image_tag "project-flare.png", height: '220', width: '400' %>
			</div>
			<div class="project-info--right">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<span class="btn-b">
					<span>View project on</span>
					<span><a href="/">Github</a></span>
				</span>
			</div>
	</div>
</div>
