<div class="main-grid">
    <div class="grid--item">
        <a href="#" class="inside-grid--item main">
          <%= image_tag "project-flare.png", :class => "image" %>
          <div class="overlay d-none d-sm-block">
            <h3>PROJECT</h3>
            <p class="color--yellow">Click for more details</p>
            <hr class="line-length">
          </div>
      </a>
        <div class="inside-grid--item second red"></div>
        <div class="inside-grid--item third pink"></div>
        <div class="inside-grid--item fourth mauve"></div>
      
    </div>
    <div class="grid--item">
      <a href="#" class="inside-grid--item main">
        <%= image_tag "project-fcc-final.jpg", :class => "image" %>
          <div class="overlay d-none d-sm-block">
            <h3>PROJECT</h3>
            <p class="color--yellow">Click for more details</p>
            <hr class="line-length">
        </div>
      </a>
        <div class="inside-grid--item second red"></div>
        <div class="inside-grid--item third mauve"></div>
        <div class="inside-grid--item fourth pink"></div>
    </div>
    <div class="grid--item">
      <a href="#" class="inside-grid--item main">
        <img src="https://images.unsplash.com/photo-1519687774292-8ef26b975fc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" class="image">
          <div class="overlay d-none d-sm-block">
            <h3>PROJECT</h3>
            <p class="color--yellow">Click for more details</p>
            <hr class="line-length">
        </div>
      </a>
        <div class="inside-grid--item second pink"></div>
        <div class="inside-grid--item third mauve"></div>
        <div class="inside-grid--item fourth red"></div>
    </div>
    <div class="grid--item">
      <a href="#" class="inside-grid--item main">
        <img src="https://images.unsplash.com/photo-1533425172290-3aa4ffb75948?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1017&q=80" class="image">
          <div class="overlay d-none d-sm-block">
            <h3>PROJECT</h3>
            <p class="color--yellow">Click for more details</p>
            <hr class="line-length">
        </div>
      </a>
        <div class="inside-grid--item second mauve"></div>
        <div class="inside-grid--item third red"></div>
        <div class="inside-grid--item fourth pink"></div>
    </div>
  </div>
</div>