<div class="main-grid">
  <div class="grid--item">
    <a href="#" class="inside-grid--item main">
      <div class="overlay right">
        <h3>Flare</h3>
        <p class="color--yellow">Click here for more details</p>
        <hr class="line-length">
      </div>
    </a>
    <div class="inside-grid--item second red"></div>
    <div class="inside-grid--item third pink"></div>
    <div class="inside-grid--item fourth mauve"></div>
  </div>

  <div class="grid--item">
    <a href="#" class="inside-grid--item main">
      <div class="overlay left">
        <h3>Responsive page</h3>
        <p class="color--yellow">Click here for more details</p>
        <hr class="line-length">
      </div>
    </a>
    <div class="inside-grid--item second red"></div>
    <div class="inside-grid--item third mauve"></div>
    <div class="inside-grid--item fourth yellow"></div>
  </div>

  <div class="grid--item">
    <a href="#" class="inside-grid--item main">
      <div class="overlay right">
        <h3>Score keeper</h3>
        <p class="color--yellow">Click here for more details</p>
        <hr class="line-length">
      </div>
    </a>
    <div class="inside-grid--item second pink"></div>
    <div class="inside-grid--item third yellow"></div>
    <div class="inside-grid--item fourth red"></div>
  </div>

  <div class="grid--item">
    <a href="#" class="inside-grid--item main">
      <div class="overlay left">
        <h3>PROJECT</h3>
        <p class="color--yellow">Click here for more details</p>
        <hr class="line-length">
      </div>
    </a>
    <div class="inside-grid--item second mauve"></div>
    <div class="inside-grid--item third red"></div>
    <div class="inside-grid--item fourth pink"></div>
  </div>
</div>
