<div class="row mt-5 mb-5">
	<div class="project-info col-md-2 col-xs-12">
			<h2>PROJECT NAME</h2>
			<hr>
			<a href="/" class="btn-b">See this project on Github
				<div class="arrow-right">
    				<div class="arrow-tail"></div>
    				<div class="arrow-tri"></div>
  				</div>
			</a>
	</div>
	<div class="col-md-4 col-xs-12 project-thumb">
	</div>
	<div class="project-info col-md-2 col-xs-12">
		<h2>PROJECT NAME</h2>
		<hr>
		<a href="/" class="btn-b">See this project on Github
				<div class="arrow-right">
    				<div class="arrow-tail"></div>
    				<div class="arrow-tri"></div>
  				</div>
			</a>
	</div>
	<div class="col-md-4 col-xs-12 project-thumb">
	</div>
</div>