<div class="row mt-5 mb-5">
	<div class="project-info col-md-2 col-xs-12">
			<h2>PROJECT NAME</h2>
			<hr>
			<a href="/" class="btn-b">See this project on Github
				<div class="arrow-right">
					<i class="fas fa-long-arrow-alt-right"></i>
  				</div>
			</a>
	</div>
	<div class="col-md-4 col-xs-12 project-thumb">
	</div>
	<div class="project-info col-md-2 col-xs-12">
		<h2>PROJECT NAME</h2>
		<hr>
		<a href="/" class="btn-b">
			<div><p>See this project on Github</p></div>
			<div><i class="arrow-right fas fa-long-arrow-alt-right"></i></div>
		</a>
	</div>
	<div class="col-md-4 col-xs-12 project-thumb">
	</div>
</div>