
<div class="row">
	<!-- P1 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="project-info--left">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<a href="/" class="btn-b">View project on Github</a>
			</div>
			<div class="boxes mt-3 mb-5">
				<div class="project-thumb--left">
				</div>
				<div class="project-thumb--back"></div>
			</div>
	</div>
	<!-- P2 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="second">
			<div class="boxes mt-3 mb-5">
				<div class="project-thumb--right">
				</div>
				<div class="project-thumb--back"></div>
			</div>
			<div class="project-info--right">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<a href="/" class="btn-b">View project on Github</a>
			</div>
	</div>
</div>
<!-- P3 -->
<div class="row">
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
			<div class="project-info--left">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<a href="/" class="btn-b">View project on Github</a>
			</div>
			<div class="boxes mt-3 mb-5">
				<div class="project-thumb--left">
				</div>
				<div class="project-thumb--back"></div>
			</div>
	</div>
	<!-- P4 -->
	<div class="inner-flex col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" id="second">
			<div class="boxes mt-3 mb-5">
				<div class="project-thumb--right">
				</div>
				<div class="project-thumb--back"></div>
			</div>
			<div class="project-info--right">
				<h2 class="project-name">PROJECT NAME</h2>
				<hr class="hr">
				<a href="/" class="btn-b">View project on Github</a>
			</div>
	</div>
</div>
