<div class="container d-flex flex-column align-items-center">
	<img src="https://i.imgur.com/wL3TmRv.jpg?1" class="about-image my-5" alt="girl">
	<div class="header-h4 mb-5">Small human. Big dreams.</div>
	<div class="width-about">
		<div class="header-p mb-3">I am a web developer and an avid film watcher. I am a book worm and a coffee drinker. I have a diverse tech and education experience. I have worked in a variety of customer-facing jobs from customer support to account management.</div>
		<div class="header-p mb-3">This has helped me get a better understanding of what the customer wants, what the company wants and how tech delivers. I found the latter more compelling so here I am. For the last 3 years I have lived in Copenhagen.</div>
		<div class="header-p">I value effective teamwork, innovation and simplicity.</div>
	</div>
	<div class="header-h4 mt-5 mb-4">Want to collaborate or say hello?</div>
	<div class="about-text">&#9674; &#9674; &#9674; contact@anaivan.com &#9674; &#9674; &#9674;</div>
	<div class="header-h4 my-5"><u>Workshops</u></div>
		<div class="about-text">Host for 'Introduction to HTML & CSS'</div>
		<div class="about-text">Le Wagon</div> 
		<div class="about-text">Copenhagen 2019</div>
	<div class="header-h4 my-5"><u>Volunteer work</u></div>
		<div class="about-text">Workshop Coordinator</div>
		<div class="about-text">TECHBBQ</div>
		<div class="about-text">Copenhagen 2018</div>
		<br>
		<div class="about-text">Film Programmer</div>
		<div class="about-text">MIX Copenhagen LGBTQ+ Film Festival</div> 
		<div class="about-text">Copenhagen 2019</div>
</div>