<div class="about-wrapper">
	<div class="child" id="about-info-boxes">
		<div id="about-info-main">
			<div id="about-info-paragraph">
			<p>I am a web developer and an avid film watcher. I am a book worm and a coffee drinker. I have a diverse tech and education experience. I have worked in a variety of customer-facing jobs from customer support to account management. This has helped me get a better understanding of what the customer wants, what the company wants and how tech delivers. I found the latter more compelling so here I am.</p> 
			<p>For the last 3 years I have lived in Copenhagen. Folks here are nice and they love gummy bears, bicycles and open-faced sandwiches and we have a couple of things in common too.</p>
			<p>I value effective teamwork, innovation and simplicity.</p> 
			<p>I do a bunch of stuff when I’m not coding and to <label for="button">
				<a class="button" role="button">name a few</a>.
			</label></p>
			<input type="checkbox" id="button">
			<ul class="text">
				<li>&#8212;
I am a film programmer at MIX Copenhagen LGBTQ+ Film Festival</li><br>
				<li>&#8212;
I am a front-end teaching assistant at Le Wagon Copenhagen</li><br>
				<li>&#8212;
I am dedicated to living a sustainable and environmentally-friendly life and research ways of being better at helping our planet and those who live in it</li>
			</ul><br>
			<p>Thanks for stopping by.</p>
			</div>
		</div>
		<div id="about-info-red"></div>
		<div id="about-info-pink"></div>
		<div id="about-info-mauve"></div>
	</div>
	<div class="child" id="about-photo">
		<div class="about-social">
		<%= link_to 'Github', 'https://github.com/anaivanm', target: "_blank", class: 'social-link' %>
		<%= link_to 'LinkedIn', 'https://www.linkedin.com/in/anaivanm/', target: "_blank",class: 'social-link' %>
        </div>
	</div>
</div>
