<div class="card">
	<div class="project-description">
		<p> <%= link_to project.name, project_path(project) %> </p>
		<p> <%= project.desc %> </p>
		<p> <%= link_to 'Github', project.git_url %> </p>
		<p> <%= link_to 'Website', project.web_url %> </p>
	</div>
</div>