.footer {
  border-top: 4px solid;
  border-image: linear-gradient(to right, #DDD92A 0%,#DDD92A 40%,#FD1B1F 40%,#FD1B1F 20%,#FD1B1F 40%,#5A41A9 40%,#5A41A9 40%,#FD1B1F 40%,#5A41A9 40%,#5A41A9 40%,#5A41A9 60%,#FFD2E6 60%,#FFD2E6) 1 stretch repeat; 
  height: 5vh;
  padding-top: 20px;
  margin-top: 100px;
}