.navbar-link {
  color: $body-color;
  font-size: $font-size-base;
  &:hover {
    text-decoration: none;
    color: $body-color;
  }
}

@include media-breakpoint-up(sm) {
	.navbar-link {
		font-size: $h4-font-size;
	}
}