.project-thumb {
	border: 1px solid black;
	height: 35vh;
}

.project-info {
	align-self: center;
}

.btn-b {
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	color: $black;
  animation: sway 1.5s ease infinite;
  animation-play-state: paused;
  padding-right: 5px;
	 &:hover{
	 	text-decoration: none;
	 	color: $black;
    animation-play-state: running;
  }
}

@keyframes sway {
  50% {
    padding-right: 15px;
  }
}
