// Screen 1440px and up
.row {
  margin-right: 0 !important;
}

.project-card {
  margin: 50px;
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }
  a {
    width: 100%;
    height: 450px;
    border: 2px solid $lightgray;
    text-decoration: none;
    color: black;
    display: block;
    background: $white;
    transition: 0.25s ease;
      &:hover {
        transform: translate(-30px, -30px);
        border-color: black;
        .project-card-display {
          display: none;
        }
        .project-card-hover {
          display: block;
          border-style: dashed;
          border-width: 2px;
        }
      }
      .project-card-hover {
        display: none;
        h2 {
          margin: 20px 0;
        }
      }
    }
    .project-card-border {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-style: dashed;
      border-width: 2px;
      z-index: -1;
    }
}

.mauve {
  color: $mauve;
  border-color: $mauve;
}

.yellow {
  color: $yellow;
  border-color: $yellow;
}

.red {
  color: $red;
  border-color: $red;
}

.pink {
  color: $pink;
  border-color: $pink;
}

// // Screen size 577px or less

// @media only screen and (max-width: 577px) {
//   .image {
//     width: 100%;
//     height: 100%;

//   img {
//     width: 100%;
//   }
// }

// .project-card .details {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transition: .5s;
//     transform-origin: left;
//     transform: rotateY(-90deg);
// }
// .project-card:hover .details {
//     transform: rotateY(0deg);
// }
// .project-card .details .center {
//     text-align: center;
//     background: $white;
//     position: absolute;
//     top: 50%;
//     width: 100%;
//     transform: translateY(-50%);
// }
// }

// // Screen size 578px - 798px

// @media only screen and (min-width: 578px) and (max-width: 798px) {
// }

// // Screen size 799px - 1119px

// @media only screen and (min-width: 799px) and (max-width: 1119px) {
// }

// // Screen size 1120px - 1420px
// @media only screen and (min-width: 1120px) and (max-width: 1420px) {
// }

