// Screen 1440px and up
.row {
  margin-right: 0 !important;
}

.inner-flex {
  display: flex;
  justify-content: space-between;
  padding: 0 !important;
}

.project-info--left {
  align-self: center;
  text-align: left;
  margin-left: 2rem;
}

.project-info--right {
  align-self: center;
  margin-left: 2rem;
  text-align: right;
}
  .btn-b {
    text-decoration: none;
    color: $black;
    cursor: pointer;
    &:hover{
      text-decoration: none;
      color: $black;
    }
  }
      // position: relative;
      // &:after {
      //         content: '';
      //         position: absolute;
      //         top: 3px;
      //         left: 0;
      //         width: 100%;
      //         height: 100%;
      //         border-bottom: 4px solid $yellow;
      //         opacity: 0.5;
      //         transform: scaleX(0);
      //         transition: .3s all ease-in;
      //     }
      //     &:hover:after {
      //         transform: scaleX(1.1);
      //     }
.boxes {
  position: relative;
}

.project-thumb-left {
  position: absolute;
  z-index: 1;
  background: red;
  width: 400px;
  height: 200px;
  left: 1.3rem;
  top: .6rem;
}

.project-thumb-right {
  position: absolute;
  z-index: 1;
  background: red;
  width: 400px;
  height: 200px;
  left: 2.7rem;
  top: .6rem;
}

.project-thumb-left-back {
  width: 400px;
  height: 220px;
  border: 5px solid blue;
  margin-left: 2rem;
}

.project-thumb-right-back {
  width: 400px;
  height: 220px;
  border: 5px solid blue;
  margin-left: 2rem;
}
// Screen size 577px or less

@media only screen and (max-width: 577px) {
  .inner-flex {
    flex-direction: column;
    align-items: center;
  }

  #second {
    flex-direction: column-reverse !important;
  }

  .project-thumb-left-back {
    visibility: hidden;
  }

  .project-thumb-right-back {
    visibility: hidden;
  }
  .project-thumb-left {
  position: absolute;
  z-index: 1;
  background: red;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.project-thumb-right {
  position: absolute;
  z-index: 1;
  background: red;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
  .project-name {
    float: left;
  }

  .hr {
    display: none;
  }
  .btn-b {
    padding-left: 4.5rem;
  }
}

// Screen size 578px - 798px

@media only screen and (min-width: 578px) and (max-width: 798px) {
  .inner-flex {
    flex-direction: column;
    align-items: center;
  }

  #second {
    flex-direction: column-reverse !important;
  }

  .project-name {
    float: left;
  }

  .hr {
    display: none;
  }
  .btn-b {
    padding-left: 4.5rem;
  }
}

// Screen size 799px - 1119px

@media only screen and (min-width: 799px) and (max-width: 1119px) {
  .inner-flex {
    justify-content: space-between;
  }
}

// Screen size 1120px - 1420px
@media only screen and (min-width: 1120px) and (max-width: 1420px) {
  .inner-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #second {
    flex-direction: column-reverse !important;
  }

  .project-name {
    float: left;
  }
  .hr {
    display: none;
  }
  .project-info--left {
    text-align: center;
  }

  .project-info--right {
    text-align: center;
  }

  .btn-b {
      padding-left: 4.5rem;
  }
}

