.main-grid {
  display: flex;
  width: 100%;
  height: 95vh;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.grid--item {
  flex-basis: 600px;
  height: 350px;
  margin: 0 0px 15px 0;
  display: flex;
  width: 100%;
  margin: 10px;
  position: relative;
}

@media only screen and (min-width: 1480px) {
  .grid--item {
    flex-basis: 700px;
    height: 450px;
  }
}

@media only screen and (max-width: 1229px) {
  .grid--item {
    flex-basis: 500px;
    height: 300px;
  }
}

@media only screen and (max-width: 579px) {
  .grid--item {
    flex-basis: 450px;
    height: 250px;
  }

  .overlay {
    padding-top: 30px;
  }
}

.inside-grid--item {
  flex-basis: 150px;
  height: 100px;
  margin: 10px;
}

.third, .second, .main, .main--right, .second--right, .third--right, .fourth, .fourth--right {
  position: absolute;
  z-index: 1;
  top: 6%;
  left: 3%;
  width: 90%;
  height: 80%;
}

.main {
  position: absolute;
  z-index: 2;
  top: 6%;
  left: 3%;
  width: 90%;
  height: 80%;
  box-shadow: 0px 0px 2px 0px $lightgray;
  color: $black;
  
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  padding-top: 80px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFF;
  border: none;
}

.line-length {
  background: $yellow;
  width: 20%;
  animation: motion 3s ease-in-out 1;
  animation-play-state: paused;
  @keyframes motion {
    50% {
      width: 50%;
    }
    100% {
      width: 20%;
    }
  }
}

.grid--item:hover {
  .line-length {
    animation-play-state: running;
  }
  .overlay {
    opacity: 1;
    border: 2px solid $yellow;
  }
  .main {
    color: $black;
    box-shadow: none;
  }
  .second {
    top: 10%;
    left: -2%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .third {
    top: 16%;
    left: 6%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .fourth {
    top: 1%;
    left: 9%;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
}

.pink {
  border: 2px solid $pink;
}
.yellow {
  border: 2px solid $yellow;
}
.red {
  border: 2px solid $red;
}
.mauve {
  border: 2px solid $mauve;
}

.color--yellow {
  color: $yellow;
}