.carousel-border {
	border: 1px solid;
}

.header-h4 {
	font-size: $font-size-base;
}
@include media-breakpoint-up(sm) {
	.header-h4 {
		font-size: $h4-font-size;
	}

	.carousel-width-showpage {
		width: 50%;
	}
}