// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.wrapper {
	margin-left: 5rem;
	margin-right: 5rem;
}

// Screen size 577px or less

@media only screen and (max-width: 577px) {
	.wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

// Screen size 578px - 798px

@media only screen and (min-width: 578px) and (max-width: 798px) {
	.wrapper {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}

// Screen size 799px - 1119px

@media only screen and (min-width: 799px) and (max-width: 1119px) {
	.wrapper {
		margin-left: 3rem;
		margin-right: 3rem;
	}
}
